.btn {
  border-radius: 20px;
  height: 40px;
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  border-style: none;
  display: block;
}

.btn-primary {
  color: #ffffff;
  background: #e6b11b;
}

.btn-wide {
  margin: 16px auto;
  width: 100%;
}

.btn-narrow {
  width: 47%;
  margin: 16px 0px;
}

.btn-right {
  margin: 16px 0px 16px auto;
}

.btn-secondary {
  color: #e6b11b;
  background-color: white;
  border: 1px solid #e6b11b;
}
