.cart-item {
  width: 100%;
  height: 100px;
  box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.3),
    1px -1px 4px rgba(196, 196, 196, 0.1);
  border-radius: 10px;

  display: flex;
}

.cart-item-img {
  width: 88px;
  height: 84px;
  overflow: hidden;
  border-radius: 10px;
  margin: 8px;
}

.cart-item-img img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
  width: 70%;
  padding-right: 8px;
}

.detail-delete {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail-delete img {
  width: 16px;
  height: 16px;
  align-self: center;
}

.bill-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
