.detail-img-con {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0px 4px 10px rgba(196, 196, 196, 0.3),
    1px -1px 4px rgba(196, 196, 196, 0.1);
  border-radius: 10px;
}

.item-detail-img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.price-size-con {
  display: block;
  margin: 8px auto;
}

.item-detail h2 {
  margin: 0;
}

.price-size-con h3 {
  margin: 0;
}

.seller-seemore {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}

.seller-seemore p {
  margin-top: 0px;
}

.comment-con {
  padding: 16px 0px;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
}
