html,
body {
  margin: 0px;
}

* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

h2 {
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
}

p {
  font-family: Maven Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  padding: 0;
}

.red {
  color: #c53a1e;
}

.yellow {
  color: #e6b11b;
}

.green {
  color: #84ae9f;
}

.dark {
  color: #3e2d4a;
}

.grey {
  color: #bdbdbd;
}

.page-tile {
  color: #3e2d4a;
  margin: 16px 0;
}

.logo {
  width: 30%;
  text-align: center;
  margin: 64px auto 0px auto;
  display: block;
}

.home-photo {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 32px;
}

.page {
  padding-bottom: 72px;
  margin: auto 32px;
}

hr {
  height: 0px;
  left: 32px;
  top: 474px;
  border: 1px solid #f2f2f2;
  margin: 16px 0px;
}
